.freecell-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.freecell-container .game-board {
    width: 100%;
    height: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border: none !important;
}

.freecell-container .top-area {
    display: flex;
    justify-content: space-between;
}

.free-cells,
.foundations {
    display: flex;
}

.freecell-container .tableau-piles {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 100px; /* Adjust as needed */
    width: 100%;
}

.free-cell-pile,
.foundation-pile,
.tableau-pile {
    width: 71px; /* Card width */
    height: 96px; /* Card height */
    position: relative;
}

.tableau-pile {
    height: 400px; /* Allow space for cards to stack */
}

.placeholder {
    width: 71px;
    height: 96px;
    box-sizing: border-box;
    position: relative;
}

.placeholder::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
}

.free-cell-pile .placeholder,
.foundation-pile .placeholder {
    height: 96px;
}

.card {
    width: 71px;
    height: 96px;
    position: absolute;
}

.card.selected {
    filter: invert(1);
}

.animation-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
}

.select-game-dialog {
    display: flex;
    align-items: center;
}

.select-game-dialog label {
    margin-right: 10px;
}

.select-game-dialog input {
    width: 100px;
}
