.freecell-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.freecell-container .game-board {
    width: 100%;
    height: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border: none !important;
}

.freecell-container .top-area {
    display: flex;
    justify-content: space-between;
}

.freecell-container .free-cells,
.freecell-container .foundations {
    display: flex;
    height: 96px;
}

.freecell-container .tableau-piles {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 100px; /* Adjust as needed */
    width: 100%;
}

.freecell-container .free-cell-pile,
.freecell-container .foundation-pile,
.freecell-container .tableau-pile {
    width: 71px; /* Card width */
    height: 96px; /* Card height */
    position: relative;
}

.freecell-container .tableau-pile {
    height: 400px; /* Allow space for cards to stack */
}

.freecell-container .placeholder {
    width: 71px;
    height: 96px;
    box-sizing: border-box;
    position: relative;
}

.freecell-container .placeholder::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
}

.freecell-container .free-cell-pile .placeholder,
.freecell-container .foundation-pile .placeholder {
    height: 96px;
}

.freecell-container .card {
    width: 71px;
    height: 96px;
    position: absolute;
}

.freecell-container .card.selected {
    filter: invert(1);
}

.freecell-container .animation-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
}

.freecell-container .select-game-dialog {
    display: flex;
    align-items: center;
}

.freecell-container .select-game-dialog label {
    margin-right: 10px;
}

.freecell-container .select-game-dialog input {
    width: 100px;
}

.king-image {
    position: absolute;
    top: 19px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.king-win-image {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.king-win-image.visible {
    display: block;
}

.legal-top-cursor {
  cursor: url("assets/freecell-legal-top.png") 16 0, auto !important;
}

.legal-tableau-cursor {
  cursor: url("assets/freecell-legal-tableau.png") 16 31, auto !important;
}

.game-over-dialog p {
  margin: 0 0 10px 0;
}

.game-over-dialog label {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.game-over-dialog input {
  margin-right: 5px;
}
