.task-manager-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.task-list-container {
    height: 200px;
    overflow-y: auto;
    border: 1px solid var(--border-light);
}

.task-list {
    width: 100%;
    border-collapse: collapse;
}

.task-list tr.highlighted {
    background-color: var(--header-background);
    color: var(--header-text);
}

.button-bar {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.button-bar button {
    margin-left: 5px;
}
