.task-manager-content {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.task-list-container {
    height: 150px;
    overflow-y: auto;
    background-color: var(--Window);
}

.task-list {
    width: 100%;
    border-collapse: collapse;
}

.task-list > tbody > tr > * {
    height: 14px;
    padding: 0;
}

.button-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button-bar button {
    padding: 3px 5px;
    min-width: 100px;
}
