.themetocss-main-container {
    display: flex;
    height: 100%;
}

.themetocss-editor-container {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.themetocss-swatch-container {
    flex: 1;
    padding: 5px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    background-color: var(--ButtonFace);
    border-left: 2px solid var(--ButtonShadow);
}

.swatch-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--ButtonShadow);
    padding: 5px;
}

.swatch-name {
    font-size: var(--font-size-base);
    margin-bottom: 5px;
    word-break: break-all;
}

.swatch-color {
    width: 50px;
    height: 50px;
    border: 1px solid var(--ButtonDkShadow);
}

.swatch-image {
    max-width: 100%;
    height: auto;
    image-rendering: pixelated;
}
