.explorer-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.explorer-icon-view {
    flex-grow: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 70px);
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    gap: 5px;
    padding: 10px;
    align-content: start;
}

.explorer-icon {
    width: 70px;
    text-align: center;
    color: var(--WindowText);
}

.explorer-icon .icon {
    display: block;
    margin: auto;
}

.explorer-icon .icon img {
    width: 32px;
    height: 32px;
}

.explorer-icon .icon-label {
    font-family: var(--font-family-menu);
    font-size: var(--font-size-menu);
}

.explorer-icon .highlighted-icon {
    filter: var(--icon-filter);
}

.explorer-icon.selected .highlighted-label {
    background-color: var(--highlight-blue);
    color: var(--highlight-text);
}

.explorer-icon.selected {
    border: 1px dotted var(--HilightText);
}

.explorer-title {
    display: none; /* Hidden by default */
    font-size: 2em; /* h1 equivalent */
    margin: 10px; /* Some spacing */
    text-align: left;
    color: var(--WindowText); /* Inherit text color */
}

/* When content width is less than 400px */
.explorer-content.small-width .explorer-title {
    display: block; /* Show the title */
    order: -1; /* Place it above other flex items */
}

.explorer-content.small-width .explorer-icon-view {
    /* No specific order needed if title is -1, but for clarity */
    order: 0;
}
