.explorer-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.explorer-icon-view {
  flex-grow: 1;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 70px);
  grid-auto-rows: 70px;
  grid-auto-flow: row;
  gap: 5px;
  padding: 10px;
  align-content: start;
}
