.explorer-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  grid-auto-rows: minmax(75px, max-content);
  gap: 10px;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}
