:root {
  --ActiveTitle: rgb(0, 128, 128);
  --Background: rgb(0, 0, 0);
  --Hilight: rgb(0, 128, 128);
  --HilightText: rgb(255, 255, 255);
  --TitleText: rgb(255, 255, 255);
  --Window: rgb(184, 184, 184);
  --WindowText: rgb(0, 0, 0);
  --Scrollbar: rgb(184, 184, 184);
  --InactiveTitle: rgb(72, 72, 72);
  --Menu: rgb(112, 112, 112);
  --WindowFrame: rgb(0, 0, 0);
  --MenuText: rgb(0, 0, 0);
  --ActiveBorder: rgb(112, 112, 112);
  --InactiveBorder: rgb(112, 112, 112);
  --AppWorkspace: rgb(72, 72, 72);
  --ButtonFace: rgb(112, 112, 112);
  --ButtonShadow: rgb(72, 72, 72);
  --GrayText: rgb(72, 72, 72);
  --ButtonText: rgb(0, 0, 0);
  --InactiveTitleText: rgb(112, 112, 112);
  --ButtonHilight: rgb(184, 184, 184);
  --ButtonDkShadow: rgb(0, 0, 0);
  --ButtonLight: rgb(112, 112, 112);
  --InfoText: rgb(128, 0, 128);
  --InfoWindow: rgb(255, 255, 255);
  --button-active-border-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%3E%0A%09%09%09%0A%09%09%3Cpath%20d%3D%22M0%200h256v256h-256v-256z%22%20fill%3D%22rgb(0%2C%200%2C%200)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M32%2032h192v192h-192v-192z%22%20fill%3D%22rgb(72%2C%2072%2C%2072)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M64%2064h128v128h-128v-128z%22%20fill%3D%22rgb(112%2C%20112%2C%20112)%22%2F%3E%0A%09%0A%09%09%3C%2Fsvg%3E") 64 / 2px;
	--button-normal-border-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%3E%0A%09%09%09%0A%09%09%3Cpath%20d%3D%22M0%200h224v32h-192v192h-32v-224z%22%20fill%3D%22rgb(184%2C%20184%2C%20184)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M224%200h32v256h-256v-32h224v-224z%22%20fill%3D%22rgb(0%2C%200%2C%200)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M32%2032h160v32h-128v128h-32v-160z%22%20fill%3D%22rgb(112%2C%20112%2C%20112)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M192%2032h32v192h-192v-32h160v-160z%22%20fill%3D%22rgb(72%2C%2072%2C%2072)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M64%2064h128v128h-128v-128z%22%20fill%3D%22rgb(112%2C%20112%2C%20112)%22%2F%3E%0A%09%0A%09%09%3C%2Fsvg%3E") 64 / 2px;
	--inset-deep-border-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%3E%0A%09%09%09%0A%09%09%3Cpath%20d%3D%22M0%200h224v32h-192v192h-32v-224z%22%20fill%3D%22rgb(0%2C%200%2C%200)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M224%200h32v256h-256v-32h224v-224z%22%20fill%3D%22rgb(184%2C%20184%2C%20184)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M32%2032h160v32h-128v128h-32v-160z%22%20fill%3D%22rgb(72%2C%2072%2C%2072)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M192%2032h32v192h-192v-32h160v-160z%22%20fill%3D%22rgb(112%2C%20112%2C%20112)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M64%2064h128v128h-128v-128z%22%20fill%3D%22rgb(112%2C%20112%2C%20112)%22%2F%3E%0A%09%0A%09%09%3C%2Fsvg%3E") 64 / 2px;
}
