:root {
    --ActiveTitle: rgb(224, 0, 0);
    --Background: rgb(0, 0, 0);
    --Hilight: rgb(248, 255, 160);
    --HilightText: rgb(0, 0, 0);
    --TitleText: rgb(255, 255, 255);
    --Window: rgb(255, 255, 255);
    --WindowText: rgb(0, 0, 0);
    --Scrollbar: rgb(216, 224, 216);
    --InactiveTitle: rgb(96, 168, 128);
    --Menu: rgb(168, 200, 168);
    --WindowFrame: rgb(0, 0, 0);
    --MenuText: rgb(0, 0, 0);
    --ActiveBorder: rgb(168, 200, 168);
    --InactiveBorder: rgb(168, 200, 168);
    --AppWorkspace: rgb(80, 143, 108);
    --ButtonFace: rgb(168, 200, 168);
    --ButtonShadow: rgb(96, 152, 96);
    --GrayText: rgb(96, 152, 96);
    --ButtonText: rgb(0, 0, 0);
    --InactiveTitleText: rgb(216, 224, 216);
    --ButtonHilight: rgb(216, 224, 216);
    --ButtonDkShadow: rgb(0, 0, 0);
    --ButtonLight: rgb(168, 200, 168);
    --InfoText: rgb(0, 72, 72);
    --InfoWindow: rgb(255, 239, 210);
}
