.toolbar {
  display: flex;
  align-items: center;
  padding: 2px;
  border-bottom: 1px solid var(--ButtonShadow);
  background-color: var(--ButtonFace);
}

.toolbar-button-group {
  display: flex;
  border: 1px solid transparent;
}

.toolbar-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  border: none;
  background: none;
  padding: 1px;
  font-size: 11px;
  color: var(--ButtonText);
}

.toolbar-button.has-submenu-main {
  width: 50px;
}

.toolbar-arrow-button {
  width: 12px;
  border: none;
  background: none;
  padding: 0;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-overflow-menu .menu-item {
  display: flex;
  align-items: center;
}

.toolbar-overflow-menu .menu-item-label {
  padding-left: 4px;
}

.toolbar-button:active,
.toolbar-arrow-button:active {
  border: 1px solid var(--ButtonShadow);
}

.toolbar-button:disabled,
.toolbar-arrow-button:disabled {
  color: var(--GrayText);
}

.toolbar-button:disabled .toolbar-icon {
  filter: grayscale(100%);
  opacity: 0.5;
}

.toolbar-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
  background-image: var(--toolbar-icons-grayscale);
  background-repeat: no-repeat;
}

.toolbar-button:hover .toolbar-icon,
.toolbar-button:active .toolbar-icon {
  background-image: var(--toolbar-icons);
}

.toolbar-icon[data-icon-id="0"] {
  background-position: 0 0;
}
.toolbar-icon[data-icon-id="1"] {
  background-position: -20px 0;
}
.toolbar-icon[data-icon-id="2"] {
  background-position: -40px 0;
}
.toolbar-icon[data-icon-id="3"] {
  background-position: -60px 0;
}
.toolbar-icon[data-icon-id="4"] {
  background-position: -80px 0;
}
.toolbar-icon[data-icon-id="5"] {
  background-position: -100px 0;
}
.toolbar-icon[data-icon-id="6"] {
  background-position: -120px 0;
}
.toolbar-icon[data-icon-id="7"] {
  background-position: -140px 0;
}
.toolbar-icon[data-icon-id="8"] {
  background-position: -160px 0;
}

.toolbar-label {
  white-space: nowrap;
}

.menu-popup {
  position: absolute;
  background: var(--ButtonFace);
  border: 1px solid;
  border-color: var(--ButtonHilight) var(--ButtonShadow) var(--ButtonShadow)
    var(--ButtonHilight);
  box-shadow: 1px 1px 0 var(--ButtonShadow);
  padding: 1px;
  z-index: 10000;
}

.menu-popup-table {
  border-collapse: collapse;
}

.menu-row {
}

.menu-item {
  font-size: 11px;
  color: var(--ButtonText);
  white-space: nowrap;
}

.menu-item.highlight {
  background-color: var(--Hilight);
  color: var(--HilightText);
}

.menu-item[aria-disabled="true"] {
  color: var(--GrayText);
}

.menu-item-label {
  padding: 2px 10px;
}
