.appmaker-container {
    padding: 10px;
    height: 100%;
}
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.app-name-input {
    margin-bottom: 10px;
}

.editor-wrapper, .preview-wrapper {
    height: 100%;
}

.preview-wrapper {
    padding: 5px;
}

.window[role="tabpanel"] {
    flex-grow: 1;
}
