/* suits start */
.clubs, .diamond, .heart, .spade {
  position: relative;
  margin-top: 10px;
}

.clubs::before, .clubs::after {
        content: "";
        position: absolute;
        top: 9px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: #000;
}

.clubs::before {
        left: 10px;
        box-shadow: -5px -7px #000;
}

.clubs::after {
  left: 0;
}

.diamond::after {
        content: "";
        position: absolute;
        left: -2px;
        top: 5px;
        width: 13px;
        height: 13px;
        background: red;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
}

.heart::before, .heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 16px;
  border-radius: 50px 50px 0 0;
  background: red;
}

.heart::before {
  left: 10px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.spade::before, .spade::after {
  content: "";
  position: absolute;
  top: -7px;
  width: 10px;
  height: 16px;
  border-radius: 50px 50px 0 0;
  background: #000;
}

.spade::before {
  left: 17px;
  transform: rotate(-135deg);
  transform-origin: 0 100%;
}

.spade::after {
  left: -7px;
  transform: rotate(135deg);
  transform-origin: 100% 100%;
}

.spade-notch {
  border:1px solid #000;
}
/* suits end */

/* card start */
.card{
        position: absolute;
    border: 1px solid;
    width: 90px;
    height: 125px;
    /* margin: auto; */
    /* margin-left: 2.5px; */
    /* margin-right: 2.5px; */
    margin-top: 5px;
    background-color: #fff;
    display: inline-block;
    color: #000;
    left: 0;
    margin-top: 10px;
    margin-left: 11px;
}

.red{
        color:red;
}

.number-top{
        position: relative;
        top: -4px;
        left: 6px;
}

.suit-top{
        position: relative;
        top: -17px;
        left: 1px;
}

.number-bottom{
        position: relative;
        top: 62px;
        text-align: left;
        right: 5px;
        transform: rotate(-180deg);
}

.suit-bottom{
        position: relative;
        top: 28px;
        right: 1px;
        transform: rotate(-180deg);
}

.suit-centre{
        position: absolute;
}

.two-one, .three-one{
        left: 36px;
        top: -21px;
}

.two-two, .three-three{
        left: 36px;
        top: 33px;
}

.three-two{
        left: 36px;
        top: 5px;
}

.four-one, .five-one, .six-one, .seven-one, .eight-one, .nine-one, .ten-one{
        left: 21px;
        top:-15px;
}

.four-two, .five-two, .six-two, .seven-two, .eight-two, .nine-two, .ten-two{
        left: 50px;
        top: -15px;
}

.four-three, .five-three, .six-five, .seven-five, .eight-five, .nine-five, .ten-
five{
        left: 21px;
        top: 29px;
}

.four-four, .five-four, .six-six, .seven-six, .eight-six, .nine-six, .ten-six{
        left: 50px;
        top: 29px;
}

.five-five{
        left: 36px;
        top: 8px;
}

.six-three, .seven-three, .eight-three, .nine-three, .ten-three{
        left: 21px;
        top: 8px;
}

.six-four, .seven-four, .eight-four, .nine-four, .ten-four{
        left: 50px;
        top: 8px;
}

.seven-seven, .eight-seven, .nine-seven, .ten-seven{
        left: 36px;
        top: 19px;
}

.eight-eight, .nine-eight, .ten-eight{
        left: 36px;
        top: -5px;
}

.nine-nine, .ten-ten{
        left: 36px;
        top: 42px;
}

.ten-nine{
        left: 36px;
        top: -28px;
}

.face{
        font-size: 60px;
        margin-left: 23px;
}
/* card end */
body{
        text-align: left;
        font-size: 19px;
        font-family: cursive, arial;
        color: #fff;
        letter-spacing: 1px;
        line-height: 27px;
        margin:0;
        user-select: none;
}

#container{
    text-align:center;
        width: 100vw;
        height: 100vh;
        background: green;
}

#gameArea{
        position: relative;
        top: calc(50% - 348px);
        width: 728px;
        height: 600px;
        margin: auto;
        border: 10px solid;
        border-radius: 25px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        text-align: left;
        padding: 5px;
        background: darkred;
}

#gameAreaSpan{
        position: absolute;
        bottom: 5px;
        right: 5px;
}

.cardBlock, .blankBlock, .cardBlockNewClick, .cardBlockFlip, .cardBlockAce{
        display: inline-block;
        position: relative;
        width: 92px;
        height: 127px;
        border: 1px solid;
        margin: 10px 5px;
}

.cardBlockNewClick{
        cursor: pointer !important;
}

.cardBlockFlip{
        width: 94px;
        height: 129px;
        border: none;
}

.blankBlock{
        width: 94px;
        height: 129px;
        border: none;
}

#scoreArea{
        border: 10px solid;
    width: 738px;
    position: absolute;
    margin: auto;
    top: calc(50% + 241px);
    left: calc(50% - 379px);
    border-top: 0;
    height: 96px;
}

.scoreBlock{
        display: inline-block;
        position: relative;
        top: 40px;
        width: 50%;
        height: 56px;
        background-color: #000;
}

.scoreValue{
        display: block;
        position: relative;
        top: 11px;
        font-size: 26px;
}

.card{
        top: -10px;
        left: -11px;
        cursor: pointer;
        border:1px solid #000;
        transition:1s;
}

.topClass2{
        top:12px;
}

.topClass3{
        top:34px;
}

.topClass4{
        top:56px;
}

.topClass5{
        top:78px;
}

.topClass6{
        top:100px;
}

.topClass7{
        top:122px;
}

.topClass8{
        top:144px;
}

.topClass9{
        top:166px;
}

.topClass10{
        top:188px;
}

.topClass11{
        top:210px;
}

.topClass12{
        top:232px;
}

.topClass13{
        top:254px;
}

.topClass14{
        top:276px;
}

.topClass15{
        top:298px;
}

.topClass16{
        top:320px;
}

.topClass17{
        top:342px;
}

.topClass18{
        top:364px;
}

.topClass18{
        top:388px;
}

.ace .card{
        top: -10px;
}

.newClick{
        cursor: pointer;
}

.ncbSpan, .ncbSpanClose{
        position: absolute;
        font-size: 124px;
        top: 44px;
        left: 8px;
}

.ncbSpanClose{
        font-size: 100px;
}

.cardHidden .number-top, .cardHidden .number-bottom, .cardHidden .suit-top, .car
dHidden .suit-bottom, .cardHidden .suit-centre{
        display:none;
}

.cardHidden{
        cursor:default;
        background-image: linear-gradient(to bottom, transparent 50%, #28487d 50
%),
                linear-gradient(to right, #617ca2 50%, #28487d 50%);
        background-size: 10px 10px, 10px 10px;
        border:1px solid #fff;
}

#shadowBack{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0, 0, 0, 50%);
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        opacity: 0;
        transition:.5s;
}

#model{
        position: absolute;
        width: 325px;
        background: #000;
        padding: 18px;
        margin: auto;
        left: calc(50% - 180px);
        top: calc(50% - 100px);
        border: 7px solid red;
        border-radius: 10px;
        text-align: center;
}

#modelSpan{
        display: block;
        font-size: 23px;
        letter-spacing: 2px;
}

#modelBtn{
        cursor: pointer;
        background: green;
        padding: 5px;
        margin-top: 19px;
        display: block;
        transition:.5s;
}

#modelBtn:hover{
        background: darkgreen;
}

#modelScoreBlock{
        margin-top:10px;
}

.scoreSpan{
        display: block;
}
