.media-player-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--ButtonFace);
}

.media-view {
    flex-grow: 1;
    background-color: var(--ButtonDkShadow);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.media-element {
    max-width: 100%;
    max-height: 100%;
    display: none; /* Hidden by default */
}

.media-player-default-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensures the image scales correctly within its container */
}

.media-controls {
    padding: 5px;
}

.progress-bar-container {
    margin-bottom: 5px;
}

.progress-bar {
    width: 100%;
}

.control-buttons {
    display: flex;
    align-items: center;
}

.control-button {
    width: 24px;
    height: 24px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.separator {
    width: 2px;
    height: 24px;
    background-color: var(--ButtonShadow);
    border-right: 1px solid var(--ButtonHilight);
    margin: 0 5px;
}

.volume-control {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.volume-slider {
    width: 80px;
}

/* Icons for the buttons */
.play-pause {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8 5v14l11-7z"/></svg>');
}
.stop {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 6h12v12H6z"/></svg>');
}
.seek-backward {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11 18V6l-8.5 6 8.5 6z"/></svg>');
}
.fast-rewind {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 18V6l-8.5 6 8.5 6zM11 18V6l-8.5 6 8.5 6z"/></svg>');
}
.fast-forward {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 6v12l8.5-6L5 6zm8.5 6l8.5 6V6l-8.5 6z"/></svg>');
}
.seek-forward {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 6v12l8.5-6L13 6z"/></svg>');
}
.mute {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"/></svg>');
}
.play-pause.playing {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/></svg>');
}
.mute.muted {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.2.05-.41.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z"/></svg>');
}
