.card.face-up {
  background-image: url('/src/assets/img/solitaire.png');
  background-repeat: no-repeat;
  font-size: 0;
  color: transparent;
}
.card[data-suit="spade"][data-rank="A"] { background-position: 0 0; }
.card[data-suit="spade"][data-rank="2"] { background-position: -71px 0; }
.card[data-suit="spade"][data-rank="3"] { background-position: -142px 0; }
.card[data-suit="spade"][data-rank="4"] { background-position: -213px 0; }
.card[data-suit="spade"][data-rank="5"] { background-position: -284px 0; }
.card[data-suit="spade"][data-rank="6"] { background-position: -355px 0; }
.card[data-suit="spade"][data-rank="7"] { background-position: -426px 0; }
.card[data-suit="spade"][data-rank="8"] { background-position: -497px 0; }
.card[data-suit="spade"][data-rank="9"] { background-position: -568px 0; }
.card[data-suit="spade"][data-rank="10"] { background-position: -639px 0; }
.card[data-suit="spade"][data-rank="J"] { background-position: -710px 0; }
.card[data-suit="spade"][data-rank="Q"] { background-position: -781px 0; }
.card[data-suit="spade"][data-rank="K"] { background-position: -852px 0; }

.card[data-suit="heart"][data-rank="A"] { background-position: 0 -96px; }
.card[data-suit="heart"][data-rank="2"] { background-position: -71px -96px; }
.card[data-suit="heart"][data-rank="3"] { background-position: -142px -96px; }
.card[data-suit="heart"][data-rank="4"] { background-position: -213px -96px; }
.card[data-suit="heart"][data-rank="5"] { background-position: -284px -96px; }
.card[data-suit="heart"][data-rank="6"] { background-position: -355px -96px; }
.card[data-suit="heart"][data-rank="7"] { background-position: -426px -96px; }
.card[data-suit="heart"][data-rank="8"] { background-position: -497px -96px; }
.card[data-suit="heart"][data-rank="9"] { background-position: -568px -96px; }
.card[data-suit="heart"][data-rank="10"] { background-position: -639px -96px; }
.card[data-suit="heart"][data-rank="J"] { background-position: -710px -96px; }
.card[data-suit="heart"][data-rank="Q"] { background-position: -781px -96px; }
.card[data-suit="heart"][data-rank="K"] { background-position: -852px -96px; }

.card[data-suit="club"][data-rank="A"] { background-position: 0 -192px; }
.card[data-suit="club"][data-rank="2"] { background-position: -71px -192px; }
.card[data-suit="club"][data-rank="3"] { background-position: -142px -192px; }
.card[data-suit="club"][data-rank="4"] { background-position: -213px -192px; }
.card[data-suit="club"][data-rank="5"] { background-position: -284px -192px; }
.card[data-suit="club"][data-rank="6"] { background-position: -355px -192px; }
.card[data-suit="club"][data-rank="7"] { background-position: -426px -192px; }
.card[data-suit="club"][data-rank="8"] { background-position: -497px -192px; }
.card[data-suit="club"][data-rank="9"] { background-position: -568px -192px; }
.card[data-suit="club"][data-rank="10"] { background-position: -639px -192px; }
.card[data-suit="club"][data-rank="J"] { background-position: -710px -192px; }
.card[data-suit="club"][data-rank="Q"] { background-position: -781px -192px; }
.card[data-suit="club"][data-rank="K"] { background-position: -852px -192px; }

.card[data-suit="diamond"][data-rank="A"] { background-position: 0 -288px; }
.card[data-suit="diamond"][data-rank="2"] { background-position: -71px -288px; }
.card[data-suit="diamond"][data-rank="3"] { background-position: -142px -288px; }
.card[data-suit="diamond"][data-rank="4"] { background-position: -213px -288px; }
.card[data-suit="diamond"][data-rank="5"] { background-position: -284px -288px; }
.card[data-suit="diamond"][data-rank="6"] { background-position: -355px -288px; }
.card[data-suit="diamond"][data-rank="7"] { background-position: -426px -288px; }
.card[data-suit="diamond"][data-rank="8"] { background-position: -497px -288px; }
.card[data-suit="diamond"][data-rank="9"] { background-position: -568px -288px; }
.card[data-suit="diamond"][data-rank="10"] { background-position: -639px -288px; }
.card[data-suit="diamond"][data-rank="J"] { background-position: -710px -288px; }
.card[data-suit="diamond"][data-rank="Q"] { background-position: -781px -288px; }
.card[data-suit="diamond"][data-rank="K"] { background-position: -852px -288px; }

.cardback1 { background-position: 0 -384px; }
.cardback2 { background-position: -71px -384px; }
.cardback-fish1 { background-position: -142px -384px; }
.cardback-fish2 { background-position: -213px -384px; }
.cardback3 { background-position: -284px -384px; }
.cardback4 { background-position: -355px -384px; }
.cardback-robot1 { background-position: -426px -384px; }
.cardback-robot2 { background-position: -497px -384px; }
.cardback-robot3 { background-position: -568px -384px; }
.cardback-rose { background-position: -639px -384px; }
.stockpile-draw { background-position: -710px -384px; }
.stockpile-empty { background-position: -781px -384px; }
.foundation-background { background-position: -852px -384px; }

.cardback-shell { background-position: 0 -480px; }
.cardback-castle1 { background-position: -71px -480px; }
.cardback-castle2 { background-position: -142px -480px; }
.cardback-beach1 { background-position: -213px -480px; }
.cardback-beach2 { background-position: -284px -480px; }
.cardback-beach3 { background-position: -355px -480px; }
.cardback-hand1 { background-position: -426px -480px; }
.cardback-hand2 { background-position: -497px -480px; }
.cardback-hand3 { background-position: -568px -480px; }
.background1 { background-position: -639px -480px; }
.background2 { background-position: -710px -480px; }
.background3 { background-position: -781px -480px; }
.background4 { background-position: -852px -480px; }
