#splash-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 10000;
    display: none; /* Hidden by default */
}

.loading-banner {
    width: 100%;
    height: 20px;
    background: linear-gradient(90deg,
            #4E7BB8 0%,
            #ADB9C3 25%,
            #ADB9C3 50%,
            #4E7BB8 100%);
    background-size: 1000px 20px;
    animation: moving-banner 2s linear infinite;
    position: fixed;
    bottom: 0;
}

@keyframes moving-banner {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1000px 0;
    }
}
