#splash-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: center;
    z-index: 10000;
    display: none; /* Hidden by default */
}

.loading-banner {
    width: 100%;
    height: 2%;
    background: linear-gradient(
        90deg,
        #4e7bb8 0%,
        #adb9c3 25%,
        #adb9c3 50%,
        #4e7bb8 100%
    );
    background-size: 1000px 20px;
    animation: moving-banner 2s linear infinite;
    position: absolute;
    bottom: 0;
}

@keyframes moving-banner {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1000px 0;
    }
}
