.minesweeper-app {
  display: flex;
  flex-direction: column;
  background-color: #c0c0c0;
  border: 2px solid;
  border-color: #fff #808080 #808080 #fff;
  padding: 5px;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c0c0c0;
  border: 2px solid;
  border-color: #808080 #fff #fff #808080;
  padding: 3px;
  margin-bottom: 5px;
}

.mine-count, .timer {
  font-family: 'monospace';
  font-size: 16px;
  background-color: #000;
  color: #ff0000;
  padding: 1px;
  border: 1px solid #808080;
}

.smiley {
  width: 26px;
  height: 26px;
  background-image: url('/src/assets/minesweeper/minesweeper-smiley-neutral.png');
  background-size: contain;
  border: 2px solid;
  border-color: #fff #808080 #808080 #fff;
}

.smiley:active {
  border-color: #808080 #fff #fff #808080;
}

.game-board {
  display: grid;
  border: 2px solid;
  border-color: #808080 #fff #fff #808080;
}

.cell {
  width: 16px;
  height: 16px;
  background-color: #c0c0c0;
  border: 2px solid;
  border-color: #fff #808080 #808080 #fff;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}

.cell.revealed {
  border: 1px solid #808080;
}

.cell.mine {
  background-image: url('/src/assets/minesweeper/mine.png');
}

.cell.flagged {
  background-image: url('/src/assets/minesweeper/flag.png');
}

.cell.c1 { color: #0000ff; }
.cell.c2 { color: #008000; }
.cell.c3 { color: #ff0000; }
.cell.c4 { color: #000080; }
.cell.c5 { color: #800000; }
.cell.c6 { color: #008080; }
.cell.c7 { color: #000000; }
.cell.c8 { color: #808080; }
