.minesweeper-app {
    display: flex;
    flex-direction: column;
    background-color: var(--ButtonFace);
    border: 2px solid;
    border-color: var(--ButtonHilight) var(--ButtonShadow) var(--ButtonShadow)
        var(--ButtonHilight);
    padding: 5px;
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ButtonFace);
    border: 2px solid;
    border-color: var(--ButtonShadow) var(--ButtonHilight) var(--ButtonHilight)
        var(--ButtonShadow);
    padding: 3px;
    margin-bottom: 5px;
}

.mine-count,
.timer {
    font-family: "monospace";
    font-size: 16px;
    background-color: var(--ButtonDkShadow);
    color: #ff0000;
    padding: 1px;
    border: 1px solid var(--ButtonShadow);
}

.smiley {
    width: 26px;
    height: 26px;
    background-image: url("/src/assets/minesweeper/minesweeper-smiley-neutral.png");
    background-size: contain;
    border: 2px solid;
    border-color: var(--ButtonHilight) var(--ButtonShadow) var(--ButtonShadow)
        var(--ButtonHilight);
}

.smiley:active {
    border-color: var(--ButtonShadow) var(--ButtonHilight) var(--ButtonHilight)
        var(--ButtonShadow);
}

.game-board {
    display: grid;
    border: 2px solid;
    border-color: var(--ButtonShadow) var(--ButtonHilight) var(--ButtonHilight)
        var(--ButtonShadow);
}

.cell {
    width: 16px;
    height: 16px;
    background-color: var(--ButtonFace);
    border: 2px solid;
    border-color: var(--ButtonHilight) var(--ButtonShadow) var(--ButtonShadow)
        var(--ButtonHilight);
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
}

.cell.revealed {
    border: 1px solid var(--ButtonShadow);
}

.cell.mine {
    background-image: url("/src/assets/minesweeper/mine.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cell.flagged {
    background-image: url("/src/assets/minesweeper/flag.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.cell.c1 {
    color: var(--HotTrackingColor);
}
.cell.c2 {
    color: #008000;
} /* No direct equivalent */
.cell.c3 {
    color: #ff0000;
} /* No direct equivalent */
.cell.c4 {
    color: var(--ActiveTitle);
}
.cell.c5 {
    color: #800000;
} /* No direct equivalent */
.cell.c6 {
    color: var(--Background);
}
.cell.c7 {
    color: var(--ButtonText);
}
.cell.c8 {
    color: var(--GrayText);
}
