.address-bar {
  display: flex;
  padding: 4px;
  border-bottom: 1px solid var(--border-color);
}

.address-bar input {
  flex-grow: 1;
  font-family: 'monospace';
}

.content-window {
  width: 100%;
  height: 100%;
  border: none;
  flex-grow: 1;
}
