/* src/apps/internet-explorer/internet-explorer.css */
.status-bar {
    display: flex;
    gap: 2px;
}

.status-bar-field {
    flex: 1;
    padding: 2px 4px;
    border: 1px inset;
    margin-block-start: 0;
    margin-block-end: 0;
}
