/* Styles for the Defrag App */
.defrag-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.defrag-grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 7px);
    grid-auto-rows: 9px;
    gap: 1px;
    padding: 1px;
    background-color: white;
    overflow-y: auto;
}

.defrag-cell {
    width: 5px;
    height: 7px;
    border: 1px solid black;
}

.defrag-cell.free {
    background-color: white;
}

.defrag-cell.unoptimized {
    background-color: cyan;
}

.defrag-cell.optimized {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAFklEQVR4nGNg+P+fgeE/EwMjA8N/BgAhAAQA76pFCQAAAABJRU5ErkJggg==")
        repeat;
}

.defrag-cell.source {
    background-color: green;
}

.defrag-cell.destination {
    background-color: red;
}

.progress-info {
    padding: 5px;
    text-align: left;
}

.progress-text {
    text-align: left;
    margin-bottom: 5px;
}

.progress-percent {
    margin-top: 5px;
}

.defrag-controls {
    display: flex;
    align-items: center;
    padding: 5px;
}

.progress-info-container {
    flex-grow: 1;
    margin-right: 10px;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 80px);
    gap: 5px;
}

.buttons-container button {
    width: 80px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-color {
    width: 20px;
    height: 15px;
    border: 1px solid black;
    margin-right: 10px;
}

.legend-color.free {
    background-color: white;
}

.legend-color.unoptimized {
    background-color: cyan;
}

.legend-color.optimized {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAFklEQVR4nGNg+P+fgeE/EwMjA8N/BgAhAAQA76pFCQAAAABJRU5ErkJggg==")
        repeat;
}

.legend-color.source {
    background-color: green;
}

.legend-color.destination {
    background-color: red;
}
