@import url('/src/styles/solitaire.css');

.klondike-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #008000;
    box-sizing: border-box;
    overflow: auto;
}

.klondike-board {
    flex-grow: 1;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 96px 1fr;
    grid-gap: 10px;
}

.top-piles {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.tableau-piles {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.stock-pile, .waste-pile, .foundation-pile, .tableau-pile, .empty-pile {
    width: 71px;
    height: 96px;
    border: 1px dashed #FFF;
    border-radius: 5px;
    position: relative;
}

.card {
    width: 71px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0;
}

.tableau-pile .card {
    position: relative;
    margin-bottom: -75px;
}
