.klondike-solitaire-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #008000;
    box-sizing: border-box;
    background-image: url("/src/assets/img/solitaire.png");
    background-position: -639px -480px; /* background1 */
    background-repeat: no-repeat;
    background-size: cover;
}

.klondike-solitaire-container .game-board {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.klondike-solitaire-container .top-piles {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.klondike-solitaire-container .stock-pile,
.klondike-solitaire-container .waste-pile,
.klondike-solitaire-container .foundation-pile {
    width: 71px;
    height: 96px;
}

.klondike-solitaire-container .foundation-piles {
    grid-column: 4 / -1; /* Span from column 4 to the end */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.klondike-solitaire-container .tableau-piles {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    flex-grow: 1;
}

.klondike-solitaire-container .tableau-pile {
    width: 71px;
    min-height: 96px;
    position: relative;
    height: 100%;
}

.klondike-solitaire-container .stock-card-placeholder,
.klondike-solitaire-container .foundation-placeholder,
.klondike-solitaire-container .tableau-placeholder {
    width: 71px;
    height: 96px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
}

.klondike-solitaire-container .stock-card-placeholder {
    background-image: url("/src/assets/img/solitaire.png");
    background-position: -710px -384px; /* stockpile-draw */
    cursor: pointer;
}

.klondike-solitaire-container .foundation-placeholder {
    background-image: url("/src/assets/img/solitaire.png");
    background-position: -852px -384px; /* foundation-background */
}

.klondike-solitaire-container .card {
    width: 71px;
    height: 96px;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    /* position: absolute; */
    cursor: pointer;
    user-select: none;
    background-color: #ffffff;
}

.klondike-solitaire-container .tableau-pile .card {
    position: absolute;
}

.klondike-solitaire-container .card.face-up {
    color: transparent;
    font-size: 0;
}

.klondike-solitaire-container .card.face-down {
    background-color: #8b0000;
    background-image: url("/src/assets/img/solitaire.png");
    background-position: 0 -384px !important; /* cardback1 */
}

.klondike-solitaire-container .card.dragging {
    visibility: hidden;
}

.dragged-stack {
    width: 71px;
}
