.flashplayer-container {
    width: 100%;
    height: 100%;
}

.flashplayer-loading-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  color: #333;
}

.flashplayer-container > ruffle-player {
    width: 100%;
    height: 100%;
}
