.address-bar {
  display: flex;
  align-items: center;
  padding: 2px;
  background-color: var(--ButtonFace);
  border-bottom: 1px solid var(--border-color);
}

.address-bar-label {
  margin-right: 4px;
  color: var(--ButtonText);
  white-space: nowrap;
}

.address-bar-input {
  flex-grow: 1;
  font-family: 'MSW98UI';
  width: 100%;
}
