.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 5px 10px;
    padding-left: 12px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    font-size: 10px;
    max-width: 250px;
    pointer-events: none;
}
