.theme-installer-app {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.theme-installer-app .toolbar {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-light);
    margin-bottom: 5px;
}

.theme-installer-app .select-button {
    font-family: 'MSSansSerif', sans-serif;
}

.theme-installer-app .file-list-container {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid var(--border-dark);
    background-color: var(--white);
    padding: 5px;
}

.theme-installer-app .file-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.theme-installer-app .file-list li {
    padding: 2px 0;
}
