.notepad-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    outline: 2px dashed transparent;
    outline-offset: -4px;
    transition: outline-color 0.2s ease;
}

.notepad-container.dragover {
    outline-color: var(--ButtonDkShadow);
}

.CodeMirror pre {
    background: none;
    box-shadow: none;
    padding: 0;
}

.CodeMirror {
    height: 100%;
}

.cm-editor {
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--ButtonShadow) var(--ButtonHilight) var(--ButtonHilight)
        var(--ButtonShadow);
    /* as fallback */
    position: relative;
    /* for pseudo element(s) */
    -o-border-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20d%3D%22M0%200h256v256h-256v-256z%22%20fill%3D%22%20rgb(0%2C%200%2C%200)%22%2F%3E%3Cpath%20d%3D%22M32%2032h160v32h-128v128h-32v-160z%22%20fill%3D%22%20rgb(255%2C%20255%2C%20255)%22%2F%3E%3Cpath%20d%3D%22M64%2064h96v32h-64v64h-32v-96z%22%20fill%3D%22rgb(192%2C%20192%2C%20192)%22%2F%3E%3Cpath%20d%3D%22M160%2064h32v128h-128v-32h96v-96z%22%20fill%3D%22%20rgb(128%2C%20128%2C%20128)%22%2F%3E%3Cpath%20d%3D%22M96%2096h64v64h-64v-64z%22%20fill%3D%22%20rgb(192%2C%20192%2C%20192)%22%2F%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%22256%22%20height%3D%22256%22%20stroke-width%3D%2264%22%20stroke%3D%22%20rgb(0%2C%200%2C%200)%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E")
        64 / 2px;
    border-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20d%3D%22M0%200h256v256h-256v-256z%22%20fill%3D%22%20rgb(0%2C%200%2C%200)%22%2F%3E%3Cpath%20d%3D%22M32%2032h160v32h-128v128h-32v-160z%22%20fill%3D%22%20rgb(255%2C%20255%2C%20255)%22%2F%3E%3Cpath%20d%3D%22M64%2064h96v32h-64v64h-32v-96z%22%20fill%3D%22rgb(192%2C%20192%2C%20192)%22%2F%3E%3Cpath%20d%3D%22M160%2064h32v128h-128v-32h96v-96z%22%20fill%3D%22%20rgb(128%2C%20128%2C%20128)%22%2F%3E%3Cpath%20d%3D%22M96%2096h64v64h-64v-64z%22%20fill%3D%22%20rgb(192%2C%20192%2C%20192)%22%2F%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%22256%22%20height%3D%22256%22%20stroke-width%3D%2264%22%20stroke%3D%22%20rgb(0%2C%200%2C%200)%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E")
        64 / 2px;
    -o-border-image: var(--inset-deep-border-image);
    border-image: var(--inset-deep-border-image);
    border-color: var(--ButtonShadow);
    border-style: solid;
    border-width: 2px 2px;
}

.cm-editor .cm-content {
    font-family: "Fixedsys Excelsior", monospace;
}

.cm-scroller {
    overflow: scroll !important;
    height: 100%;
}

.cm-scroller-webkit-scrollbar,
.cm-scroller-webkit-scrollbar-thumb,
.cm-scroller-webkit-scrollbar-button {
    width: 13px;
    width: var(--scrollbar-size);
    height: 13px;
    height: var(--scrollbar-size);
}

.cm-scroller-webkit-scrollbar {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQYV2P8/////4MHDzIwHjhw4L+9vT0DAHAFCj6esq3FAAAAAElFTkSuQmCC")
        repeat;
    background: var(--checker) repeat;
    image-rendering: pixelated;
}
.cm-scroller-webkit-scrollbar-thumb {
    background-color: rgb(192, 192, 192);
    background-color: var(--ButtonFace);
    border-top: 1px solid rgb(192, 192, 192);
    border-top: 1px solid var(--ButtonFace);
    border-left: 1px solid rgb(192, 192, 192);
    border-left: 1px solid var(--ButtonFace);
    border-right: 1px solid rgb(0, 0, 0);
    border-right: 1px solid var(--ButtonDkShadow);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid var(--ButtonDkShadow);
    box-shadow:
        1px 1px 0 rgb(255, 255, 255) inset,
        -1px -1px 0 rgb(128, 128, 128) inset;
    box-shadow:
        1px 1px 0 var(--ButtonHilight) inset,
        -1px -1px 0 var(--ButtonShadow) inset;
}
.cm-scroller-webkit-scrollbar-corner {
    background-color: rgb(192, 192, 192);
    background-color: var(--ButtonFace);
}

.cm-scroller-webkit-scrollbar-button {
    background-color: rgb(192, 192, 192);
    background-color: var(--ButtonFace);
    border-top: 1px solid rgb(192, 192, 192);
    border-top: 1px solid var(--ButtonFace);
    border-left: 1px solid rgb(192, 192, 192);
    border-left: 1px solid var(--ButtonFace);
    border-right: 1px solid rgb(0, 0, 0);
    border-right: 1px solid var(--ButtonDkShadow);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid var(--ButtonDkShadow);
    box-shadow:
        1px 1px 0 rgb(255, 255, 255) inset,
        -1px -1px 0 rgb(128, 128, 128) inset;
    box-shadow:
        1px 1px 0 var(--ButtonHilight) inset,
        -1px -1px 0 var(--ButtonShadow) inset;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAJCAYAAABaMo5wAAAAW0lEQVQ4T2NkGGSAcZC5h4FWDvrPwEC02ShqkR0EkkAHuBxMyEKYWYQ8jKEOXQOyo/A5BuZwqqvBZiA+3xMbilQLIWqlcUJRimwPzjRELcdQZA6hREeR4eRoBgBoXhAK6oiMhwAAAABJRU5ErkJggg==");
    background-image: var(--scrollbar-arrows-ButtonText);
    image-rendering: pixelated;
    width: 13px;
    width: var(--scrollbar-size);
    height: 13px;
    height: var(--scrollbar-size);
    box-sizing: border-box;
}

.cm-scroller-webkit-scrollbar-button:not(.disabled):hover:active {
    border: 1px solid rgb(128, 128, 128);
    border: 1px solid var(--ButtonShadow);
    box-shadow: none;
}

.cm-scroller-webkit-scrollbar-button.disabled {
    background-image:
        url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAJCAYAAABaMo5wAAAAYElEQVQ4T2NkGGSAcZC5h4EmDmpoaPjf0NBAlNnoauGaQBLooYXLUEIWwswi5Chs6lB8gewofI6BOZwWajCCFZ/viQ1FqoUQtRI4oShFtgdnGqKWYyg1h6icQKklpOgHAM9mQArEvm5+AAAAAElFTkSuQmCC"),
        url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAJCAYAAABaMo5wAAAAYElEQVQ4T2NkGGSAcZC5h4EmDvr///9/RkZGosxGVwvXBJJADy1chhKyEGYWIUdhU4fiC2RH4XMMzOG0UIMRrPh8T2woUi2EqJXACUUpsj040xC1HEOpOUTlBEotIUU/AKXFQAqyTJ6DAAAAAElFTkSuQmCC");
    background-image:
        var(--scrollbar-arrows-GrayText), var(--scrollbar-arrows-ButtonHilight);
}

.cm-scroller-webkit-scrollbar-button.horizontal.decrement.disabled {
    background-position: /* left arrow */
        calc(9px * -3 + 1px) 1px,
        calc(9px * -3 + 2px) 2px;
    background-position: /* left arrow */
        calc(var(--scrollbar-button-inner-size) * -3 + 1px) 1px,
        calc(var(--scrollbar-button-inner-size) * -3 + 2px) 2px;
}

.cm-scroller-webkit-scrollbar-button.horizontal.increment.disabled {
    background-position: /* right arrow */
        calc(9px * -2 + 1px) 1px,
        calc(9px * -2 + 2px) 2px;
    background-position: /* right arrow */
        calc(var(--scrollbar-button-inner-size) * -2 + 1px) 1px,
        calc(var(--scrollbar-button-inner-size) * -2 + 2px) 2px;
}

.cm-scroller-webkit-scrollbar-button.vertical.decrement.disabled {
    background-position: /* up arrow */
        calc(9px * -1 + 1px) 1px,
        calc(9px * -1 + 2px) 2px;
    background-position: /* up arrow */
        calc(var(--scrollbar-button-inner-size) * -1 + 1px) 1px,
        calc(var(--scrollbar-button-inner-size) * -1 + 2px) 2px;
}

.cm-scroller-webkit-scrollbar-button.vertical.increment.disabled {
    background-position: /* down arrow */
        calc(9px * -0 + 1px) 1px,
        calc(9px * -0 + 2px) 2px;
    background-position: /* down arrow */
        calc(var(--scrollbar-button-inner-size) * -0 + 1px) 1px,
        calc(var(--scrollbar-button-inner-size) * -0 + 2px) 2px;
}

.cm-scroller-webkit-scrollbar-button.horizontal.decrement {
    background-position: calc(9px * -3 + 1px) 1px;
    background-position: calc(var(--scrollbar-button-inner-size) * -3 + 1px) 1px;
    /* left */
}

.cm-scroller-webkit-scrollbar-button.horizontal.increment {
    background-position: calc(9px * -2 + 1px) 1px;
    background-position: calc(var(--scrollbar-button-inner-size) * -2 + 1px) 1px;
    /* right */
}

.cm-scroller-webkit-scrollbar-button.vertical.decrement {
    background-position: calc(9px * -1 + 1px) 1px;
    background-position: calc(var(--scrollbar-button-inner-size) * -1 + 1px) 1px;
    /* up */
}

.cm-scroller-webkit-scrollbar-button.vertical.increment {
    background-position: calc(9px * -0 + 1px) 1px;
    background-position: calc(var(--scrollbar-button-inner-size) * -0 + 1px) 1px;
    /* down */
}
.cm-scroller-webkit-scrollbar-button:hover:active {
    border: 1px solid rgb(128, 128, 128);
    border: 1px solid var(--ButtonShadow);
    box-shadow: none;
}
.cm-scroller-webkit-scrollbar-button:disabled {
    background-image:
        url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAJCAYAAABaMo5wAAAAYElEQVQ4T2NkGGSAcZC5h4EmDmpoaPjf0NBAlNnoauGaQBLooYXLUEIWwswi5Chs6lB8gewofI6BOZwWajCCFZ/viQ1FqoUQtRI4oShFtgdnGqKWYyg1h6icQKklpOgHAM9mQArEvm5+AAAAAElFTkSuQmCC"),
        url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAJCAYAAABaMo5wAAAAYElEQVQ4T2NkGGSAcZC5h4EmDvr///9/RkZGosxGVwvXBJJADy1chhKyEGYWIUdhU4fiC2RH4XMMzOG0UIMRrPh8T2woUi2EqJXACUUpsj040xC1HEOpOUTlBEotIUU/AKXFQAqyTJ6DAAAAAElFTkSuQmCC");
    background-image:
        var(--scrollbar-arrows-GrayText), var(--scrollbar-arrows-ButtonHilight);
}

.cm-scroller-webkit-scrollbar-button:horizontal:decrement:disabled {
    background-position: /* left arrow */
        calc(9px * -3 + 1px) 1px,
        calc(9px * -3 + 2px) 2px;
    background-position: /* left arrow */
        calc(var(--scrollbar-button-inner-size) * -3 + 1px) 1px,
        calc(var(--scrollbar-button-inner-size) * -3 + 2px) 2px;
}
.cm-scroller-webkit-scrollbar-button:horizontal:increment:disabled {
    background-position: /* right arrow */
        calc(9px * -2 + 1px) 1px,
        calc(9px * -2 + 2px) 2px;
    background-position: /* right arrow */
        calc(var(--scrollbar-button-inner-size) * -2 + 1px) 1px,
        calc(var(--scrollbar-button-inner-size) * -2 + 2px) 2px;
}
.cm-scroller-webkit-scrollbar-button:vertical:decrement:disabled {
    background-position: /* up arrow */
        calc(9px * -1 + 1px) 1px,
        calc(9px * -1 + 2px) 2px;
    background-position: /* up arrow */
        calc(var(--scrollbar-button-inner-size) * -1 + 1px) 1px,
        calc(var(--scrollbar-button-inner-size) * -1 + 2px) 2px;
}
.cm-scroller-webkit-scrollbar-button:vertical:increment:disabled {
    background-position: /* down arrow */
        calc(9px * -0 + 1px) 1px,
        calc(9px * -0 + 2px) 2px;
    background-position: /* down arrow */
        calc(var(--scrollbar-button-inner-size) * -0 + 1px) 1px,
        calc(var(--scrollbar-button-inner-size) * -0 + 2px) 2px;
}

.cm-scroller-webkit-scrollbar-button:horizontal:decrement.disabled {
    background-position: /* left arrow */
        calc(9px * -3 + 1px) 1px,
        calc(9px * -3 + 2px) 2px;
    background-position: /* left arrow */
        calc(var(--scrollbar-button-inner-size) * -3 + 1px) 1px,
        calc(var(--scrollbar-button-inner-size) * -3 + 2px) 2px;
}

.cm-scroller-webkit-scrollbar-button:horizontal:decrement {
    background-position: calc(9px * -3 + 1px) 1px;
    background-position: calc(var(--scrollbar-button-inner-size) * -3 + 1px) 1px;
    /* left */
}
.cm-scroller-webkit-scrollbar-button:horizontal:increment.disabled {
    background-position: /* right arrow */
        calc(9px * -2 + 1px) 1px,
        calc(9px * -2 + 2px) 2px;
    background-position: /* right arrow */
        calc(var(--scrollbar-button-inner-size) * -2 + 1px) 1px,
        calc(var(--scrollbar-button-inner-size) * -2 + 2px) 2px;
}
.cm-scroller-webkit-scrollbar-button:horizontal:increment {
    background-position: calc(9px * -2 + 1px) 1px;
    background-position: calc(var(--scrollbar-button-inner-size) * -2 + 1px) 1px;
    /* right */
}
.cm-scroller-webkit-scrollbar-button:vertical:decrement.disabled {
    background-position: /* up arrow */
        calc(9px * -1 + 1px) 1px,
        calc(9px * -1 + 2px) 2px;
    background-position: /* up arrow */
        calc(var(--scrollbar-button-inner-size) * -1 + 1px) 1px,
        calc(var(--scrollbar-button-inner-size) * -1 + 2px) 2px;
}
.cm-scroller-webkit-scrollbar-button:vertical:decrement {
    background-position: calc(9px * -1 + 1px) 1px;
    background-position: calc(var(--scrollbar-button-inner-size) * -1 + 1px) 1px;
    /* up */
}
.cm-scroller-webkit-scrollbar-button:vertical:increment.disabled {
    background-position: /* down arrow */
        calc(9px * -0 + 1px) 1px,
        calc(9px * -0 + 2px) 2px;
    background-position: /* down arrow */
        calc(var(--scrollbar-button-inner-size) * -0 + 1px) 1px,
        calc(var(--scrollbar-button-inner-size) * -0 + 2px) 2px;
}
.cm-scroller-webkit-scrollbar-button:vertical:increment {
    background-position: calc(9px * -0 + 1px) 1px;
    background-position: calc(var(--scrollbar-button-inner-size) * -0 + 1px) 1px;
    /* down */
}

.cm-scroller-webkit-scrollbar-track-piece:hover:active {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQYV2P8/////4MHDzIwHjhw4L+9vT0DAHAFCj6esq3FAAAAAElFTkSuQmCC")
        repeat;
    background: var(--checker) repeat;
    image-rendering: pixelated;
    background-color: white;
    background-blend-mode: difference;
    /* background-attachment: fixed; breaks the checkered background in chrome */
}

.cm-scroller-webkit-scrollbar-track-piece.increment {
    background-position: bottom;
}
.cm-scroller-webkit-scrollbar-track-piece:increment {
    background-position: bottom;
}

/* turn off double buttons */
.cm-scroller-webkit-scrollbar-button:start:increment,
.cm-scroller-webkit-scrollbar-button:end:decrement {
    display: none;
}
