.desktopthemes-app .main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.desktopthemes-app .controls {
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.desktopthemes-app .preview-container {
  flex-grow: 1;
  overflow: hidden;
  padding: 1rem;
  background-color: var(--desktop-background, #008080);
  border: 2px inset var(--border-color, #fff);
}
