.display-properties-tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px;
    padding-top: 3px;
}

.display-properties-tabs .tab-window {
    flex-grow: 1;
}

.display-properties-tabs .tab-window .tab-window-body {
    flex-grow: 1;
    padding: 10px;
    width: 370px;
}

.monitor-preview-container {
    position: relative;
    width: 184px;
    height: 170px;
    margin: 0 auto;
    background-image: url("../../assets/img/Display.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.display-wallpaper-preview {
    position: absolute;
    top: 17px;
    left: 16px;
    width: 152px; /* Scaled width for 800x600 aspect ratio */
    height: 112px; /* Scaled height for 800x600 aspect ratio */
    background-color: var(--Background);
    overflow: hidden; /* Ensure wallpaper does not spill out */
}

.wallpaper-list {
    width: 100%;
    border-collapse: collapse;
}

.wallpaper-list tr {
    cursor: default;
}

.wallpaper-list td {
    padding: 1px 4px;
}

.wallpaper-list tr.highlighted {
    background-color: var(--highlight, #000080);
    color: var(--highlight-text, white);
}

.display-properties-buttons {
    text-align: right;
    padding: 5px;
}

.display-properties-buttons button,
.display-properties-tabs button {
    min-width: 75px;
    min-height: 23px;
    font-size: 11px;
    padding: 2px 12px;
}

.wallpaper-controls button {
    min-width: 65px;
    padding: 2px 5px;
}

.wallpaper-settings-container {
    display: flex;
    flex-direction: column;
    gap: 3px; /* Adds space between the paragraph and the options below */
}

.wallpaper-options {
    display: flex;
    gap: 10px; /* Adds space between the wallpaper list and controls */
}

.wallpaper-list-container {
    flex-grow: 1; /* Allows the list to take up available space */
    height: 100px;
    overflow-y: scroll;
}

.wallpaper-controls {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Stacks the control buttons vertically */
}

.wallpaper-controls .field-row {
    display: flex;
    flex-direction: column;
}
