.display-properties-tabs {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.display-properties-tabs .window {
    flex-grow: 1;
}

.monitor-preview-container {
    position: relative;
    width: 184px;
    height: 170px;
    margin: 0 auto;
    background-image: url("../../assets/img/display.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.display-wallpaper-preview {
    position: absolute;
    top: 17px;
    left: 16px;
    width: 152px;
    height: 112px;
    background-color: var(--Background);
}

.wallpaper-list {
    width: 100%;
    border-collapse: collapse;
}

.wallpaper-list tr {
    cursor: default;
}

.wallpaper-list td {
    padding: 2px 4px;
}

.wallpaper-list tr.highlighted {
    background-color: var(--highlight, #000080);
    color: var(--highlight-text, white);
}

.display-properties-buttons {
    text-align: right;
    padding: 5px;
}

.wallpaper-settings-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between the paragraph and the options below */
}

.wallpaper-options {
    display: flex;
    gap: 10px; /* Adds space between the wallpaper list and controls */
}

.wallpaper-list-container {
    flex-grow: 1; /* Allows the list to take up available space */
    height: 100px;
    overflow-y: scroll;
}

.wallpaper-controls {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Stacks the control buttons vertically */
}

.wallpaper-controls .field-row {
    display: flex;
    flex-direction: column;
}
