.wordpad-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--ButtonFace);
}

.wordpad-toolbar {
    border-bottom: 1px solid var(--ButtonShadow);
    padding: 2px;
    background-color: var(--ButtonFace);
    display: flex;
    align-items: center;
    gap: 6px;
}

.toolbar-group {
    display: flex;
    align-items: center;
    gap: 2px;
}

.wordpad-toolbar button.active {
    background-color: var(--button-face-active);
    border-style: inset;
}

.wordpad-color-picker {
    position: relative;
    display: inline-block;
}

#wordpad-color-palette {
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid var(--button-shadow);
    background-color: var(--button-face);
    padding: 4px;
    z-index: 100;
    width: 160px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px;
}

.color-swatch {
    width: 24px;
    height: 16px;
    border: 1px solid var(--button-shadow);
    cursor: pointer;
}

.color-label {
    font-size: 12px;
    white-space: nowrap;
    cursor: pointer;
    padding-top: 2px;
}

.wordpad-editor {
    flex-grow: 1;
    border: 1px solid var(--ButtonShadow);
    padding: 5px;
    background-color: white;
    overflow-y: scroll;
    font-family: "Calisto MT", serif;
    font-size: 10pt;
    color: black;
}

.wordpad-editor:focus {
    outline: none;
}

.wordpad-statusbar {
    border-top: 1px solid var(--ButtonShadow);
    display: flex;
    height: 21px;
    padding: 0 2px;
}

.wordpad-toolbar button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar-icon {
    width: 16px;
    height: 16px;
    background-image: url('assets/wordpad-toolbar1.png');
    background-repeat: no-repeat;
}

.icon-new { background-position: 0 0; }
.icon-open { background-position: -16px 0; }
.icon-save { background-position: -32px 0; }
.icon-print { background-position: -48px 0; }
.icon-print-preview { background-position: -64px 0; }
.icon-find { background-position: -80px 0; }
.icon-cut { background-position: -96px 0; }
.icon-copy { background-position: -112px 0; }
.icon-paste { background-position: -128px 0; }
.icon-undo { background-position: -144px 0; }
.icon-insert-date { background-position: -160px 0; }

.icon-bold { background-position: -176px 0; }
.icon-italic { background-position: -192px 0; }
.icon-underline { background-position: -208px 0; }
.icon-color { background-position: -224px 0; }
.icon-align-left { background-position: -240px 0; }
.icon-align-center { background-position: -256px 0; }
.icon-align-right { background-position: -272px 0; }
.icon-bullets { background-position: -288px 0; }

.wordpad-statusbar-panel {
    border: 1px solid var(--ButtonShadow);
    padding: 2px 4px;
    flex-grow: 1;
    margin: 1px;
}

.toolbar-separator {
    width: 1px;
    height: 22px;
    background-color: var(--ButtonShadow);
    margin: 0 4px;
}
