@font-face {
  font-family: "MSW98UI";
  src: url("/src/assets/fonts/MSW98UI-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MSW98UI";
  src: url("/src/assets/fonts/MSW98UI-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "IBM BIOS";
  src: url("/src/assets/fonts/Web437_IBM_VGA_8x14.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-teal: #008080;
  --background-gray: #c0c0c0;
  --border-light: #dfdfdf;
  --border-dark: #87888f;
  --border-white: white;
  --border-black: black;
  --highlight-blue: #0000a8;
  --highlight-text: #fff;
  --shadow-light: #fff;
  --shadow-dark: #0a0a0a;
  --shadow-medium-light: #dfdfdf;
  --shadow-medium-dark: grey;
  --icon-filter: sepia(100%) hue-rotate(180deg) saturate(2000%) brightness(0.6);
  --text-shadow: 1px 1px #222;
  --icon-label-font-size: 11px;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "MSW98UI", sans-serif;
  background-color: var(--background-teal);
  image-rendering: pixelated;
  font-smooth: never;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tray-icon {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 2px;
}

.tray-icon img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

/* Themes */
body.theme-blue {
  --background-teal: #00539C;
}
