.command-prompt-content {
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.terminal-container {
  width: 100%;
  height: 100%;
}

.terminal-container .xterm .xterm-viewport {
  background-color: black;
  width: 100%;
}
